body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
a {
  color:black;
}
header {
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header img {
  display: none;
}
#header_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#header_top img {
  display: flex;
  height: 40px;
  padding-top:20px;
  padding-left: 20px;
}
.register_mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 20px 2px 0;
  margin: 0;
  color: #0065fc;
}
#register_desktop {
  display: none;
}
header nav {
  width: 100%;
  height: 50%;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.9em;
  width: 50%;
  height: 50%;
  padding-bottom: 13px;
  border-bottom: 3px #f2f2f2 solid;
}
nav li:hover {
  border-bottom: 3px #0065fc solid;
}
nav li a:hover {
  color: #0065fc;
}
#research {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px 20px;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 10px;
}
#research p {
  font-size: 1em;
  padding-bottom:35px;
  margin: 0;
}
#search_bar {
  max-width: 350px;
  width: 100%;
  height: 51px;
  display: flex;
  flex-direction: row;
  border: 1px #f2f2f2 solid;
  border-radius: 15px;
}
.map_marker {
  width: 16%;
  height: 51px;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.map_marker i {
  font-size: 18px;
  color: whiter;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  padding-left: 5%;
  display: flex;
  align-items: center;
}
#search input {
  width: 80%;
  height: 1.2em;
  font-size: 1em;
  font-weight: bold;
  border: none;
}
#mobile_search_button {
  width: 17%;
  height: 51px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: #0065fc;
}
#mobile_search_button i {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
}
#desktop_search_button {
  display: none;
}
#filters {
  display: flex;
  flex-direction: column;
}
#filters h2 {
  font-size: 1em;
  font-weight: bold;
}
#filters ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
#filters i {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}
#filters ul a {
  color:black;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  padding: 5%;
}
#filters ul li {
  border-top: 2px #e7e6e6 solid;
  border-right: 2px #e7e6e6 solid;
  border-bottom: 2px #e7e6e6 solid;
  border-left: none;
  border-radius: 25px;
  height: 46px;
  margin-left: 3%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
}
#filters ul li:hover {
  background-color: #DEEBFF;
}
.filter1 {
  width: 155px;
}
.filter2 {
  width: 120px;
}
.filter3 {
  width: 150px;
}
.filter4 {
  width: 200px;
}
#info {
  height:25px;
  display: flex;
  flex-direction: row;
}
#info i {
  height: 0.3em;
  padding: 10px;
  font-size: 0.8em;
  border: 1px #e7e6e6 solid;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}
#info p {
  padding-top:4px;
  padding-left: 10px;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
}
aside {
  height: 580px;
  padding: 0 20px 37px;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
#aside_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 25px;
  margin: 0;
}
#aside_title h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
}
.chart {
  font-size: 1.5em;
}
.block_popular_card {
  padding-bottom: 12px;
}
.popular_card {
  background-color: white;
  display: flex;
  border-radius: 20px;
  height: 144px;
  padding: 5px 0 5px 5px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
  margin: 0;
}
.popular_card:hover {
    background-color: #DEEBFF;
}
.popular_card_description {
  width: 50%;
  height: 85%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular_card img {
  width: 38.02%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-content: center;
  object-fit: cover;
}
.popular_card h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
.popular_card p {
  font-size: 0.9em;
  margin: 0;
}
.stars {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
}
.star_on {
  color: #0065fc;
}
.star_off {
  color: #f2f2f2;
}
section article {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
section article h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 41px;
  padding-bottom: 25px;
  margin: 0;
}
section article h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}
section article p {
  font-size: 0.9em;
  margin: 0;
}
section article img {
  width: 100%;
  height: 114px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.card_marseille {
  border-radius: 20px;
  height: 199px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
}
.card_marseille:hover {
  background-color: #DEEBFF;
}
.card_marseille_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 98.3%;
  height: 30%;
  padding: 5px;
}
#marseille_end {
  padding-top: 35px;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
#activity {
  padding: 0 20px 49px;
  margin: 0;
}
#activity h2 {
  margin: 0;
  padding: 58px 0 32px;
}
#card_desktop {
  display: none;
}
#card_mobile {
  display: flex;
  flex-direction: column;
}
.card_activity {
  width: 100%;
  height: 190px;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 24px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
}
.card_activity:hover {
    background-color: #DEEBFF;
}
.card_activity img {
  width: 100%;
  height: 134px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  object-fit: cover;
}
#activity p {
  font-size: 1em;
  font-weight: bold;
  padding-left: 20px;
}
footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #f2f2f2;
}
footer h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 15px;
}
footer p {
  font-size: 1em;
}
@media only screen and (min-width: 1224px) {
  header {
    width: auto;
    height: 90px;
    margin: 0;
    padding: 0 50px 0 50px;
    flex-direction: row;
    justify-content: space-between;
  }
  header img {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding-top: 50px;
  }
  #header_top {
    display: none;
  }
  header nav {
    width: 410px;
    height: 100px;
  }
  nav ul {
    width: auto;
  }
  nav li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 0;
    border-bottom: none;
  }
  nav li:hover {
    border-top: 3px #0065fc solid;
    border-bottom: none;
  }
  .register_mobile {
    display: none;
  }
  #register_desktop {
    display: flex;
    font-weight: bold;
    color: #0065fc;
    border: none;
  }
  #research {
    padding: 0 50px 35px 50px;
  }
  h1 {
    font-size: 23px;
    padding-top: 47px;
    padding-bottom: 8px;
  }
  #research p {
    font-size: 17px;
    padding-bottom: 19px;
    margin: 0;
  }
  #search_bar {
    min-width: 420px;
    width: 420px;
    margin: 0;
  }
  .map_marker {
    width: 53px;
  }
  #search input {
    width: 234px;
    height: 20px;
    font-size: 18px;
  }
  #mobile_search_button {
    display: none;
  }
  #desktop_search_button {
    width: 134px;
    height: 51px;
    border: none;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    background-color: #0065fc;
    font-size: 18px;
    color: white;
  }
  #filters {
    height:50px;
    display: flex;
    flex-direction: row;
    padding-top: 31px;
    padding-bottom: 34px;
  }
  #filters h2 {
    font-size: 17px;
    font-weight: bold;
  }
  #filters ul {
    width: 90%;
  }
  #info {
    margin: 0;
  }
  #info i {
    padding: 10px;
  }
  #info p {
    font-size: 17px;
  }
  section {
    flex-direction: row-reverse;
    padding: 0 50px 0 50px;
  }
  aside {
    width: 29.17%;
    height: 625px;
    padding: 0px 37px 34px;
    border-radius: 15px;
  }
  .block_popular_card {
    padding-bottom: 33px;
  }
  .popular_card {
    height: 144px;
    margin: 0;
    margin-bottom: 0;
  }
  section article {
    width: 61.11%;
    height: 625px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 0 2.78% 34px;
    margin-right: 40px;
  }
  .block_cards_marseille_1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 3.87%;
  }
  .block_cards_marseille_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .block_card_marseille_element_1 {
    width: 30.87%;
    height: 199px;
    padding-right: 3.87%;
  }
  .block_card_marseille_element_2 {
    width: 30.87%;
  }
  .card_marseille {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_marseille_2 {
    background-color: white;
    border-radius: 20px;
    width: 30.87%;
    margin: 0;
  }
  .card_marseille_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 30%;
    padding: 5px;
  }
  #marseille_end {
    padding-top: 42px;
  }
  #activity {
    padding: 0 50px;
  }
  #activity h2 {
    padding: 65px 0 25px;
  }
  #card_mobile {
    display: none;
  }
  #card_desktop {
    width: 100%;
    height: 446px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
  }
  .card_desktop_bloc {
    width: 50%;
    margin: 0;
    display: flex;
  }
  .card_activity_1 {
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    margin: 0;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity_1 img {
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .card_activity_1:hover {
    background-color: #DEEBFF;
  }
  .flex_column_1 {
    width: 50%;
    height: 100%;
    padding-left: 43px;
    padding-right: 43px;
    display: flex;
    flex-direction: column;
  }
  .card_activity_2 {
    flex-direction: column;
    width: 100%;
    height: 236px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 43px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity_2 img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .card_activity_2:hover {
    background-color: #DEEBFF;
  }
  .card_activity_3 {
    flex-direction: column;
    width: 100%;
    height: 166px;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity_3 img {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .card_activity_3:hover {
    background-color: #DEEBFF;
  }
  .flex_column_2 {
    width: 50%;
    padding-left: 43px;
    display: flex;
    flex-direction: column;
  }
  .card_activity_4 {
    flex-direction: column;
    width: 100%;
    height: 196px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity_4 img {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .card_activity_4:hover {
    background-color: #DEEBFF;
  }
  .card_activity_5 {
    flex-direction: column;
    width: 100%;
    height: 209px;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity_5 img {
    width: 100%;
    height: 153px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .card_activity_5:hover {
    background-color: #DEEBFF;
  }
  footer {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0;
    background-color: #f2f2f2;
  }
  .element {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  footer h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }
  footer p {
    font-size: 1em;
    padding: 10px;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width:1223px) {
  #research p {
    padding-bottom: 20px;
  }
  #search_bar {
    min-width: 420px;
    width: 420px;
    height: 40px;
  }
  .map_marker {
    height: 40px;
  }
  #mobile_search_button {
    display: none;
  }
  #desktop_search_button {
    width: 134px;
    height: 40px;
    border: none;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    background-color: #0065fc;
    font-size: 18px;
    color: white;
  }
  #filters {
  flex-direction: row;
  padding: 20px 0;
  }
  #filters ul {
    flex-wrap: nowrap;
  }
  #filters i {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  #filters ul li {
    height:36px;
    margin-left:10px;
    margin-bottom:0;
  }
  #info i {
    padding: 10px;
  }
  aside {
    height: 400px;
  }
  #aside_title {
    padding: 20px 0;
  }
  #popular_flex_tablet {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  #popular_flex_tablet :nth-child(0n+2){
   padding-right: 0;
  }
  .block_popular_card {
    width: 50%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .populard_card {
    width: 100%;
    margin:0;
  }
  aside img :nth-child(0n+2) {
    width: 50%;
  }
  section article h2 {
    padding: 20px 0;
  }
  .block_cards_marseille_1 {
    height:199px;
    display: flex;
    flex-direction: row;
    padding-bottom:20px;
  }
  .block_cards_marseille_2 {
    display:flex;
    flex-direction: row;
  }
  .block_card_marseille_element_1 {
    width: 100%;
    padding-right: 2.75%;
  }
  .block_card_marseille_element_2 {
    width: 100%;
  }
  
 #card_mobile {
   flex-direction: row;
   flex-wrap: wrap;
 }
 #card_mobile :nth-child(0n+3) {
   margin:0;
 }
 #card_mobile :nth-child(0n+6) {
   margin:0;
 }
 .card_activity {
   width: 30.87%;
   margin-right:3.5%;
 }

}
