body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.5em;
  margin-left: 5.33%;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  margin-left: 5.33%;
}
p {
  font-size: 1em;
  margin-left: 5.33%;
}
li {
  font-size: 13px;
}
a:link {
  text-decoration: none;
}
header {
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
#header_top {
  display: flex;
  flex: 1;
  width: 100%;
  height: 50%;
}
.logo {
  display: flex;
  flex: 1;
  height: 40px;
  margin-top: 5%;
  margin-right: 25%;
  padding: 0;
}
.register_mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  font-size: 1em;
  font-weight: bold;
  padding-top: 3%;
  padding-right: 5%;
  margin: 0;
  color: #0065fc;
}
#register_desktop {
  display: none;
}
header nav {
  width: 100%;
  height: 50%;
  display: flex;
  flex: 1;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1em;
  flex: 1;
  width: 50%;
  height: 50%;
  padding-bottom: 3%;
  border-bottom: 3px #f2f2f2 solid;
}
nav li:hover {
  border-bottom: 3px #0065fc solid;
}
nav li a:hover {
  color: #0065fc;
}
#recherche {
  width: 89%;
  height: 51px;
  margin-left: 5.33%;
  display: flex;
  flex-direction: row;
  border: 1px #f2f2f2 solid;
  border-radius: 15px;
}
.map_marker {
  width: 16%;
  height: 51px;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.map_marker i {
  font-size: 18px;
  color: whiter;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  padding-left: 5%;
  display: flex;
  align-items: center;
}
#Barre_Recherche {
  width: 80%;
  height: 1.2em;
  font-size: 1em;
  font-weight: bold;
  border: none;
}
.Recherche_mobile {
  width: 17%;
  height: 51px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: #0065fc;
}
.Recherche_mobile i {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
}
.fasfa-search {
  color: white;
}
.Recherche_desktop {
  display: none;
}
#filtres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter1 {
  border: 2px #e7e6e6 solid;
  border-radius: 25px 25px;
  width: 45%;
  height: 48px;
  margin-left: 5.33%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.filter1 i {
  width: 50px;
  height: 52px;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}
.filter1 p {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  padding-right: 10%;
}
.filter2 {
  border: 2px #e7e6e6 solid;
  border-radius: 25px 25px;
  width: 34%;
  height: 48px;
  margin-left: 5.33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.filter2 i {
  width: 50px;
  height: 52px;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  left: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}
.filter2 p {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  padding-right: 10%;
}
.filter3 {
  border: 2px #e7e6e6 solid;
  border-radius: 25px 25px;
  width: 43%;
  height: 48px;
  margin-left: 5.33%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.filter3 i {
  width: 50px;
  height: 52px;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}
.filter3 p {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  padding-right: 8%;
}
.filter4 {
  border: 2px #e7e6e6 solid;
  border-radius: 25px 25px;
  width: 58%;
  height: 48px;
  margin-left: 5.33%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.filter4 i {
  width: 50px;
  height: 52px;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}
.filter4 p {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  padding-right: 10%;
}
#Marseille {
  display: flex;
  flex-direction: column-reverse;
}
#info {
  display: flex;
  flex-direction: row;
  margin-left:4%;
}
.info_icon {
  width: 1em;
  height: 1em;
  border: 1px #e7e6e6 solid;
  border-radius: 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  left: 10px;

}
#info i {
  font-size: 0.5em;
  display: flex;
  color: #0065fc;
}
#info p {

}
Section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section article h1 {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 4.33%;
}
.Card_Marseille {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 89.33%;
  height: 199px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 11px;
  padding-left: 5px;
  margin-top: 6px;
  margin-right: 5.33%;
  margin-bottom: 6px;
  margin-left: 5.33%;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
}
.Card_Marseille_img {
  width: 100%;
  height: 114px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-content: center;
  object-fit: cover;
}
.Card_Marseille_title {
  font-size: 1.06em;
  font-weight: bold;
  margin-top: 3%;
  margin-left: 4%;
  margin-bottom: 0;
}
.marsp {
  font-size: 0.9em;
  margin-top: 1%;
  margin-left: 4%;
  margin-bottom: 0;
}
.star1 {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  margin-top: 3%;
  margin-left: 4%;
}
#marsend {
  font-size: 17px;
  font-weight: bolder;
}
#populaires {
  width: 100%;
  height: 581px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
#populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chart {
  margin-right: 5.33%;
  font-size: 1.5em;
}
.populaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.populair {
  background-color: white;
  display: flex;
  border-radius: 20px;
  width: 89.33%;
  height: 134px;
  padding: 5px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
  margin-bottom: 15px;
}
.popul {
  width: 38.02%;
  height: 134px;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-content: center;
  object-fit: cover;
}
.popu {
  width: 51.31%;
  height: 134px;
  display: flex;
  flex-direction: column;
}
.poph2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0px;
  margin-left: 9.15%;
}
.popp {
  margin-top: 5%;
  margin-left: 9.15%;
}
.star2 {
  display: flex;
  flex-direction: row;
  margin-left: 9.15%;
  margin-top: 7%;
}
.fastar {
  color: #0065fc;
  font-size: 0.8em;
}
.fastar2 {
  color: #f2f2f2;
  font-size: 0.8em;
}

#activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activ {
  display: flex;
  flex-direction: column;
  width: 89.33%;
  height: 190px;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 24px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
}
.acti {
  width: 100%;
  height: 134px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex: 1;
  object-fit: cover;
}
.pactivité {
  font-size: 1em;
  font-weight: bold;
}
footer {
  background-color: #f2f2f2;
}
