body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
header {
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header img {
  display: none;
}
#header_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#header_top img {
  display: flex;
  height: 40px;
  margin-top: 5%;
  margin-right: 35%;
  padding-left: 20px;
}
.register_mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 20px 2px 0;
  margin: 0;
  color: #0065fc;
}
#register_desktop {
  display: none;
}
header nav {
  width: 100%;
  height: 50%;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.9em;
  width: 50%;
  height: 50%;
  padding-bottom: 3%;
  border-bottom: 3px #f2f2f2 solid;
}
nav li:hover {
  border-bottom: 3px #0065fc solid;
}
nav li a:hover {
  color: #0065fc;
}
#recherches {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}
h1 {
  font-size: 1.5em;
  margin: 0;
}
#recherches p {
  font-size: 1em;
}
#recherches h2 {
  font-size: 1em;
  font-weight: bold;
}
#barre_recherche {
  width: 100%;
  height: 51px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  border: 1px #f2f2f2 solid;
  border-radius: 15px;
}
.map_marker {
  width: 16%;
  height: 51px;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.map_marker i {
  font-size: 18px;
  color: whiter;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  padding-left: 5%;
  display: flex;
  align-items: center;
}
#search input {
  width: 80%;
  height: 1.2em;
  font-size: 1em;
  font-weight: bold;
  border: none;
}
#recherche_mobile {
  width: 17%;
  height: 51px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: #0065fc;
}
#recherche_mobile i {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
}
.recherche_desktop {
  display: none;
}
#filtres ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
#filtres ul i {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}
#filtres ul p {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  padding: 5%;
}
#filtres ul li {
  border-top: 2px #e7e6e6 solid;
  border-right: 2px #e7e6e6 solid;
  border-bottom: 2px #e7e6e6 solid;
  border-left: none;
  border-radius: 25px;
  height: 46px;
  margin-left: 3%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
}
.filter1 {
  width: 155px;
}
.filter2 {
  width: 120px;
}
.filter3 {
  width: 150px;
}
.filter4 {
  width: 200px;
}
#info {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
#info i {
  height: 0.3em;
  padding: 3%;
  font-size: 0.8em;
  border: 1px #e7e6e6 solid;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}
#info p {
  padding-left: 10px;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
}
aside {
  height: 581px;
  padding: 20px;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
#aside_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}
#aside_title h2 {
  font-size: 1.4em;
  font-weight: bold;
}
.chart {
  font-size: 1.5em;
}
.card_populaires {
  background-color: white;
  display: flex;
  border-radius: 20px;
  width: 98.3%;
  height: 134px;
  padding: 5px 0 5px 5px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
  margin-bottom: 15px;
}
.card_populaires_img {
  width: 38.02%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-content: center;
  object-fit: cover;
}
.card_populaires_description {
  width: 50%;
  height: 85%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_populaires h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
.card_populaires p {
  font-size: 0.9em;
  margin: 0;
}
.star2 {
  display: flex;
  flex-direction: row;
}
.fastar {
  color: #0065fc;
  font-size: 0.8em;
}
.fastar2 {
  color: #f2f2f2;
  font-size: 0.8em;
}
section article {
  padding: 20px;
}
#marseille {
  display: flex;
  flex-direction: column;
}
#marseille h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
}
.Card_Marseille {
  border-radius: 20px;
  width: 96%;
  height: 199px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
}
.card_marseille_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 98.3%;
  height: 30%;
  padding: 5px;
}
.card_marseille img {
  width: 100%;
  height: 114px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.card_marseille h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}
.card_marseille p {
  font-size: 0.9em;
  margin: 0;
}
.star1 {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}
#marseille_end {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
#activity {
  padding: 20px;
}
#card_Mobile {
  display: flex;
  flex-direction: column;
}
#card_desktop {
  display: none;
}
.card_activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 190px;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 24px;
  box-shadow: 1px 1px 8px rgb(209, 208, 208);
}
.card_activity img {
  width: 100%;
  height: 134px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  object-fit: cover;
}
#activity p {
  font-size: 1em;
  font-weight: bold;
  padding-left: 20px;
}
footer {
  padding: 20px;
  background-color: #f2f2f2;
}
footer h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 15px;
}
footer p {
  font-size: 1em;
}
@media only screen and (min-width: 1224px) {
  header {
    width: auto;
    margin: 0;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header img {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding-top: 50px;
  }
  #header_top {
    display: none;
  }
  header nav {
    width: 410px;
    height: 100px;
  }
  nav ul {
    width: auto;
  }
  nav li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 0;
    border-bottom: none;
  }
  nav li:hover {
    border-top: 3px #0065fc solid;
    border-bottom: none;
  }
  .register_mobile {
    display: none;
  }
  #register_desktop {
    display: flex;
    font-weight: bold;
    color: #0065fc;
    border: none;
  }
  #recherches {
    padding: 0 50px 35px 50px;
  }
  h1 {
    font-size: 23px;
  }
  #filtres p {
    font-size: 17px;
  }
  #filtres h2 {
    font-size: 1em;
    font-weight: bold;
  }
  #barre_recherche {
    width: 420px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .map_marker {
    width: 53px;
  }
  #search input {
    width: 234px;
    height: 20px;
    font-size: 18px;
  }
  #recherche_mobile {
    display: none;
  }
  .recherche_desktop {
    width: 134px;
    height: 51px;
    border: none;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    background-color: #0065fc;
    font-size: 18px;
    color: white;
  }
  #filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #filtres ul {
    width: 90%;
  }
  #info i {
    padding: 10px;
  }
  #info p {
    font-size: 17px;
  }
  #info_mobile {
    display: none;
  }
  section {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 50px 0 50px;
  }
  aside {
    width: 29.17%;
    height: 625px;
    padding: 0px 37px 34px 37px;
    border-radius: 15px;
  }
  #aside_title {
    margin:0;
    padding-top:44px;
    padding-bottom: 25px;
  }
  #aside_title h2 {
    margin: 0;
  }
  .card_popular_block {
    padding-bottom: 33px;
  }
  .card_populaires {
    height: 144px;
    margin:0;
    margin-bottom: 0;
  }
  section article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 61.11%;
    height: 625px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 0 40px 34px 40px;
    margin-right:40px;
  }
  #marseille h2 {
    width: 80%;
    padding-top:44px;
    padding-bottom: 25px;
    font-size: 1.4em;
    font-weight: bold;
  }
  #marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 0;
  }
  #marseille :nth-child(0n+4) {
    margin-right: 0;
  }
  #marseille :nth-child(0n+4) {
    margin-bottom: 0;
  }
  #marseille :nth-child(0n+5) {
    margin-bottom: 0;
  }
  #marseille :nth-child(0n+7) {
    margin-bottom: 0;
    margin-right: 0;
  }
  .card_marseille {
    background-color: white;
    border-radius: 20px;
    width: 27.95%;
    height: 199px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_marseille_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 30%;
    padding: 5px;
  }
  .card_marseille img {
    width: 100%;
    height: 114px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
  }
  .card_marseille h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  .card_marseille p {
    font-size: 12px;
    margin: 0;
  }
  .star1 {
    display: flex;
    flex-direction: row;
    font-size: 1em;
  }
  #marseille_end {
    padding-top: 20px;
  }
  #activity h2 {
    width: 80%;
    padding: 65px 0 25px 0;
    margin: 0;
  }
  #card_Mobile {
    display: none;
  }
  #activity {
    margin:0;
    padding: 0 50px 0 50px;
  }
  #card_desktop {
    width: 100%;
    height: 446px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
  }
  .card_desktop_bloc {
    width:50%;
    height:auto;
    margin:0;
    display:flex;
  }
  .card_activity1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    margin:0;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity1 img {
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
  }
  .card_flex_column_1 {
    width: 50%;
    height: 100%;
    padding-left:43px;
    padding-right:43px;
    display: flex;
    flex-direction: column;
  }
  .card_activity2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 236px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 43px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity2 img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
  }
  .card_activity3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 166px;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity3 img {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
  }
  .card_activity4 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 446px;
    border-radius: 20px;
    margin:0;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity4 img {
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
  }
  .card_flex_column_2 {
    width: 50%;
    padding-left:43px;
    display: flex;
    flex-direction: column;
  }
  .card_activity5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 196px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity5 img {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
  }
  .card_activity6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 209px;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 1px 1px 8px rgb(209, 208, 208);
  }
  .card_activity6 img {
    width: 100%;
    height: 153px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
  }
  #activity p {
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
  }
  footer {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0;
    background-color: #f2f2f2;
  }
  .element {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  footer h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }
  footer p {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    padding: 10px;
    margin: 0;
  }
}
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  header {
    width: auto;
    margin: 0;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header img {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding-top: 50px;
  }
  #header_top {
    display: none;
  }
  header nav {
    width: 410px;
    height: 100px;
  }
  nav ul {
    width: auto;
  }
  nav li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 0;
    border-bottom: none;
  }
  nav li:hover {
    border-top: 3px #0065fc solid;
    border-bottom: none;
  }
  .register_mobile {
    display: none;
  }
  #register_desktop {
    display: flex;
    font-weight: bold;
    color: #0065fc;
    border: none;
  }
}
